.header{
    background-color: black;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:99;
    transition:top 0.8s ease-out;

    padding: 10px;
}

.header.hide{
    top:-100%;
}